html, body{
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: 'font-parchment';
    src: url(../fonts/parchment.woff) format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
     url(../fonts/parchment.ttf) format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
  }  


/* Header-navbar section */
.my-navbar{
    overflow: hidden;
    background-color:#3005054f;
    position: fixed;
    top: 0;
    width: 100%;
    display: block;
    z-index: 10;
}
  
.my-navbar a{
    float: right;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Berkshire Swash', cursive;
    font-weight: lighter;
}
  
.my-navbar a:hover{
    background:#7c00002e;
    color:#ff5555;
}

.my-navbar a.my-brand{
    color: #ee5d5d;
    float: left;
    font-family: 'Meddon', cursive;
}


/* Heading section */
.my-heading-background{
    background:
    linear-gradient(        
        rgba(255, 129, 129, 0.46),         
        rgba(0, 0, 0, 0.76)),         
        url(../images/home/heading-box.jpg) no-repeat center;
    background-size: cover;
    height: 100%;
}

.my-heading-background h1{
    font-family: 'font-parchment', cursive;
    color: #ee5d5d;
    font-size: 350px;
    text-align: center;
    font-weight: lighter;
    width: 100%;
}

/* welcome & About */
.alignselfcenter{
    width:100%;
}

/* Welcome section */
.my-welcome-background{
    background-color: #1e1b29;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.my-welcome-background h2{
    font-size: 50px;
    color: #5ce0b6;
    text-align: center;
    width:100%;
    font-family: 'Berkshire Swash', cursive;
}

.my-welcome-background p{
    font-family:'Open Sans', cursive;
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 25px;
    color: #6b9b8c;
    text-align: center;
    width:100%;
}


/* About section */
.my-about-background{
    background-image: 
    linear-gradient(
        rgba(255, 129, 129, 0.46),         
        rgba(0, 0, 0, 0.76)), 
        url(../images/home/about-us.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.my-about-background h2{
    font-family: 'Berkshire Swash', cursive;
    font-size: 50px;
    color: #ffffff;
    text-align: center;
    width:100%
}


/* Sample-images-section */
.my-sample-images-background{
    background-color: #1e1b29;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.my-pictures{
    margin: 3px;
    float: left;
}

.my-pictures img{
    width: 100% !important;
    height: auto !important;
}

/* Footer-section */
.my-footer-background{
    background-color: #0e0c13;
    background-position: center;
    background-repeat: no-repeat;
}

.my-footer-background p{
    color:#5ce0b6;
    margin-top: 1rem;
    font-size: 20px;
}

.my-icons{
    color:#5ce0b6;
    font-size: 30px;
    margin-bottom: 1rem;    
}

.my-icons a{
    color:#5ce0b6;
}