@media (max-width:1536px){
    .picture-container{
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 40px;
        padding-bottom: 20px;
    }
}

@media (max-width: 1536px) {
    .pictures {
        width: 350px;
    }
  }

@media (max-width:1535px){
    .picture-container{
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 40px;
        padding-bottom: 20px;
    }
}

@media (max-width: 1535px) {
    .pictures {
        width: 350px;
    }
  }

@media (max-width:1516px){
    .picture-container{
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 40px;
        padding-bottom: 20px;
    }
}

@media (max-width: 1516px) {
    .pictures {
        width: 350px;
    }
  }

@media (max-width:1496px){
    .picture-container{
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 40px;
        padding-bottom: 20px;
    }
}

@media (max-width: 1496px) {
    .pictures {
        width: 340px;
    }
  }


  @media (max-width:1456px){
    .picture-container{
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 40px;
        padding-bottom: 20px;
    }
}

@media (max-width: 1456px) {
    .pictures {
        width: 330px;
    }
  }

@media (max-width:1400px){
    .picture-container{
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 40px;
        padding-bottom: 20px;
    }
}

@media (max-width: 1400px) {
    .pictures {
        width: 320px;
    }
  }

  
@media (max-width:1360px){
    .picture-container{
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 40px;
        padding-bottom: 20px;
    }
}

@media (max-width: 1360px) {
    .pictures {
        width: 300px;
    }
  }
 
@media (max-width:1291px){
    .picture-container{
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 40px;
        padding-bottom: 20px;
    }
}

@media (max-width: 1291px) {
    .pictures {
        width: 270px;
    }
  }

@media (max-width:1290px){
    .picture-container{
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 40px;
        padding-bottom: 20px;
    }
}

@media (max-width: 1290px) {
    .pictures {
        width: 280px;
    }
  }

  
@media (max-width:1200px){
    .picture-container{
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 40px;
        padding-bottom: 20px;
    }
}

@media (max-width: 1200px) {
    .pictures {
        width: 350px;
    }
}

@media (max-width:1105px){
    .picture-container{
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 40px;
        padding-bottom: 20px;
    }
}

@media (max-width: 1105px) {
    .pictures {
        width: 340px;
    }
}

@media (max-width:1075px){
    .picture-container{
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 40px;
        padding-bottom: 20px;
    }
}

@media (max-width: 1075px) {
    .pictures {
        width: 320px;
    }
}

@media (max-width:1012px){
    .picture-container{
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 40px;
        padding-bottom: 20px;
    }
}

@media (max-width: 1012px) {
    .pictures {
        width: 300px;
    }
}

@media (max-width:955px){
    .picture-container{
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 40px;
        padding-bottom: 20px;
    }
}

@media (max-width: 955px) {
    .pictures {
        width: 280px;
    }
}

@media (max-width:895px){
    .picture-container{
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 40px;
        padding-bottom: 20px;
    }
}

@media (max-width: 895px) {
    .pictures {
        width: 260px;
    }
}

@media (max-width:835px){
    .picture-container{
        padding-left: 20px;
        padding-right: 10px;
        padding-top: 40px;
        padding-bottom: 20px;
    }
}

@media (max-width: 835px) {
    .pictures {
        width: 240px;
    }
}

@media (max-width: 775px){
    .picture-container{
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 40px;
        padding-bottom: 20px;
    }
}

@media (max-width: 775px) {
    .pictures {
        width: 220px;
    }
}

@media (max-width:715px){
    .picture-container{
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 40px;
        padding-bottom: 20px;
    }
}

@media (max-width: 715px) {
    .pictures {
        width: 200px;
    }
}

@media (max-width: 655px){
    .picture-container{
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 40px;
        padding-bottom: 20px;
    }
}

@media (max-width: 655px) {
    .pictures {
        width: 180px;
    }
}

@media (max-width: 595px){
    .picture-container{
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 40px;
        padding-bottom: 20px;
    }
}

@media (max-width: 595px) {
    .pictures {
        width: 170px;
    }
}

@media (max-width: 565px){
    .picture-container{
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 40px;
        padding-bottom: 20px;
    }
}

@media (max-width: 565px) {
    .pictures {
        width: 160px;
    }
}

@media (max-width: 535px){
    .picture-container{
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 40px;
        padding-bottom: 20px;
    }
}

@media (max-width: 535px) {
    .pictures {
        width: 160px;
    }
}

@media (max-width: 525px){
    .picture-container{
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 40px;
        padding-bottom: 20px;
    }
}

@media (max-width: 525px) {
    .pictures {
        width: 150px;
    }
}

@media (max-width: 495px){
    .picture-container{
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 40px;
        padding-bottom: 20px;
    }
}

@media (max-width: 495px) {
    .pictures {
        width: 140px;
    }
}

@media (max-width: 465px){
    .picture-container{
        padding-left: 55px;
        padding-right: 55px;
        padding-top: 40px;
        padding-bottom: 20px;
    }
}

@media (max-width: 465px) {
    .pictures {
        width: 140px;
    }
}

@media (max-width:375px){
    .picture-container{
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 50px;
        padding-bottom: 80px;
    }
}

@media (max-width: 375px) {
    .pictures {
        width: 140px;
    }
}

@media (max-width:370px){
    .picture-container{
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 50px;
        padding-bottom: 80px;
    }
}

@media (max-width: 370px) {
    .pictures {
        width: 140px;
        margin: 2px;
    }
  }

@media (max-width:330px){
    .picture-container{
        padding-left: 35px;
        padding-right: 35px;
        padding-top: 40px;
        padding-bottom: 90px;
    }
}

@media (max-width: 330px) {
    .pictures {
        width: 120px;
        margin: 2px;
    }
  }
